# About Me
set from = "email@address"
set realname = "Gardisto Server"

# My credentials
set smtp_url = "smtp://user@service@smtp.service:587/"
set smtp_pass = "password"
set imap_user = "user@service"
set imap_pass = "password"

# My mailboxes
set folder = "imaps://imap.service:993"
set spoolfile = "+INBOX"


# Where to put the stuff
set header_cache = "~/.mutt/cache/headers"
set message_cachedir = "~/.mutt/cache/bodies"
set certificate_file = "~/.mutt/certificates"

# Etc
set mail_check = 30
set move = no
set imap_keepalive = 900
set sort = threads
set editor = "vim"
set ssl_starttls = yes
